body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(28, 236, 73);
}

.site-logo img {
  width: 250px;
  height: 70px;
  }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  }

.container{
  width: 90%;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none
}
    
.nav li:not(:last-child) {
  margin-right: 20px
}
    
a{
  text-decoration-color: #000;
  font-size: 25px
}

a:hover{
  color:red 
}

a:active {
  color: rgb(241, 241, 245);
}